{% extends "auctions/layout.html" %}

{% block body %}
    <div class="listing">
        {% if user.is_authenticated %}
            {% if  message == 0 %}
                <a href="{% url 'add_to_watchlist' listing.id %}">add to watchlist</a>
            {% else %}
                <a href="{% url 'add_to_watchlist' listing.id %}">Remove From watchlist</a>
            {% endif %}
        {% endif %}
        <img src="{{ listing.url }}" alt="{{ listing.name }}" width="256" height="256">
        <div class="listing_info">
            <h2>{{ listing.name }}</h2>
            <h4>Price: {{ listing.starting_bid }}</h4>
            <p>{{ listing.descrpition }}</p>
            <p>Created: {{ listing.date }}</p>
        </div>
    </div>
{% endblock %}